@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Zen+Antique&display=swap');

// ! COPY STYLES FROM style.css

$accent: #655faf;
$errorRed: #912a10;
$successGreen: #0e833b;
$dark: #111;
$light: #f9f9f9;
$white: #fff;

$transition: 0.6s all;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

body {
    min-height: 100vh;
    background-color: $accent;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;

    font-size: 16px;
    letter-spacing: 0.06em;
    font-weight: bold;
    color: $light;

    background-color: $accent;
    border: 2px solid $accent;
    border-radius: 8px;
    cursor: pointer;
    transition: $transition;

    &:hover {
        background-color: $light;
        color: $accent;
    }
}

// * FORM

.form-wrapper {
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    margin: 40px auto;
    background-color: $light;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(17, 17, 17, 0.3);

    &__header {
        border-bottom: 1px solid $dark;
        background-color: $white;
        padding: 20px 40px;
    }
}

.form {
    max-width: 400px;
    padding: 30px 40px;
}

.form-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 12px;
    margin: 4px 0 12px;
    font-size: 14px;
    letter-spacing: 0.02em;
    background-color: $accent;
    color: $light;
    border-radius: 8px;

    &__icon {
        font-size: 40px;
        margin-right: 12px;
    }
}

.radio-group .form-conroller__label {
    margin-bottom: 12px;
}

// * FORM CONTROLLER

.form-conroller {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 18px;

    &__label {
        display: inline-block;
        margin-bottom: 5px;
    }
    &__inp {
        display: block;
        width: 100%;
        padding: 10px;
        border: 2px solid #f0f0f0;
        border-radius: 4px;
        font-family: inherit;
        font-size: 14px;
        transition: $transition;

        &:focus {
            outline: 0;
            border-color: $accent;
        }
    }
    &__message {
        visibility: hidden;
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0;
        font-size: 13px;
        color: $errorRed;
    }
    &__message.error {
        visibility: visible;
    }
    &__icon-success,
    &__icon-error {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 38px;
        right: 16px;
        font-size: 20px;
        transition: $transition;
    }
    &__icon-success {
        color: $successGreen;
    }
    &__icon-error {
        color: $errorRed;
    }

    &._success {
        transition: $transition;
        .form-conroller__inp {
            border-color: $successGreen;
        }
        .form-conroller__icon-success {
            visibility: visible;
            opacity: 1;
        }
    }
    &._error {
        .form-conroller__inp {
            border-color: $errorRed;
        }
        .form-conroller__message {
            visibility: visible;
        }
        .form-conroller__icon-error {
            visibility: visible;
            opacity: 1;
        }
        .radio__label::before, .checkbox__label::before {
            border-color: $errorRed;
        }
    }
}

// * TRIGGER

.trigger {
    position: absolute;
    top: 35px;
    right: 12px;
    min-width: 32px;
    padding: 2px;
    z-index: 5;

    display: block;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    background-color: $accent;
    border: 2px solid $accent;
    border-radius: 8px;
    color: $light;
    transition: $transition;

    &-show,
    &-hide {
        color: $light;
    }

    &._show {
        .trigger-show {
            visibility: hidden;
            display: none;
        }
        .trigger-hide {
            visibility: visible;
            display: inline;
        }
    }
    &._hide {
        .trigger-show {
            visibility: visible;
            display: inline;
        }
        .trigger-hide {
            visibility: hidden;
            display: none;
        }
    }
}

// * CAPTCHA

.captcha {
    margin-bottom: 0;

    &__area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 56px;

        &-inner {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            user-select: none;
            border-radius: 8px;
            // * Background for captcha
            background-image: linear-gradient(to right, $accent, $dark, $errorRed, $successGreen);
        }
        &-text {
            font-size: 30px;
            font-family: 'Zen Antique', serif;
            font-style: italic;
            letter-spacing: 0.5em;
            color: $light;
            text-shadow: 0 0 2px $dark;
        }
    }
    &__reload-btn {
        margin: 0 0 0 8px;
        padding: 6px;
        width: 64px;
        height: 100%;
        font-size: 24px;

        i {
            transition: $transition;
        }
        &:hover {
            color: $light;
            background-color: $accent;
            i {
                transform: rotate(45deg);
            }
        }
    }
    &__form {
        position: relative;
        margin-top: 14px;

        &-inp {
            &._success {
                border-color: $successGreen;
            }
            &._error {
                border-color: $errorRed;
            }
        }
    }
    &__status {
        overflow: hidden;
        opacity: 0;
        display: block;

        &._success {
            overflow: visible;
            opacity: 1;
            color: $successGreen;
        }
        &._error {
            overflow: visible;
            opacity: 1;
            color: $errorRed;
        }
    }
}

// * CHECKBOX

.checkbox {
    position: relative;

    &__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        position: absolute;

        &:checked + .checkbox__label::before {
            border-color: $accent;
        }
        &:checked + .checkbox__label::after {
            opacity: 1;
        }
    }
    &__label {
        padding-left: 1.8rem;
        line-height: 1.2;
        vertical-align: top;
        font-size: 1rem;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;

            display: block;
            width: 16px;
            height: 16px;
            border: 1px solid $dark;
            border-radius: 4px;
            background-color: $light;
        }
        &::after {
            content: '\2713';
            opacity: 0;
            position: absolute;
            left: 3px;
            top: 0px;
            z-index: 2;

            width: 12px;
            height: 12px;
            background-size: 12px 12px;
            transition: $transition;
        }
    }
}

// * RADIO

.radio {
    position: relative;
}

.radio__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    position: absolute;
    width: 16px;
    height: 16px;
}

.radio__label {
    padding-left: 1.8rem;
    font-size: 1rem;
    line-height: 1.2;
    vertical-align: top;
    cursor: pointer;
}

.radio__label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 16px;
    height: 16px;

    border: 1px solid $dark;
    border-radius: 50%;
}

.radio__label:after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 3.2px;
    left: 3.2px;
    z-index: 2;
    display: block;
    width: 12px;
    height: 12px;

    background-color: $accent;
    border-radius: 50%;
}

.radio__input:checked + .radio__label:before {
    border-color: $accent;
}

.radio__input:checked + .radio__label:after {
    opacity: 1;
}
