@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Zen+Antique&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

body {
  min-height: 100vh;
  background-color: #655faf;
  font-family: "Open Sans", sans-serif;
}

.btn {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 0.06em;
  font-weight: bold;
  color: #f9f9f9;
  background-color: #655faf;
  border: 2px solid #655faf;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.6s all;
}
.btn:hover {
  background-color: #f9f9f9;
  color: #655faf;
}

.form-wrapper {
  overflow: hidden;
  width: 400px;
  max-width: 100%;
  margin: 40px auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(17, 17, 17, 0.3);
}
.form-wrapper__header {
  border-bottom: 1px solid #111;
  background-color: #fff;
  padding: 20px 40px;
}

.form {
  max-width: 400px;
  padding: 30px 40px;
}

.form-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 12px;
  margin: 4px 0 12px;
  font-size: 14px;
  letter-spacing: 0.02em;
  background-color: #655faf;
  color: #f9f9f9;
  border-radius: 8px;
}
.form-info__icon {
  font-size: 40px;
  margin-right: 12px;
}

.radio-group .form-conroller__label {
  margin-bottom: 12px;
}

.form-conroller {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 18px;
}
.form-conroller__label {
  display: inline-block;
  margin-bottom: 5px;
}
.form-conroller__inp {
  display: block;
  width: 100%;
  padding: 10px;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  transition: 0.6s all;
}
.form-conroller__inp:focus {
  outline: 0;
  border-color: #655faf;
}
.form-conroller__message {
  visibility: hidden;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  font-size: 13px;
  color: #912a10;
}
.form-conroller__message.error {
  visibility: visible;
}
.form-conroller__icon-success, .form-conroller__icon-error {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 38px;
  right: 16px;
  font-size: 20px;
  transition: 0.6s all;
}
.form-conroller__icon-success {
  color: #0e833b;
}
.form-conroller__icon-error {
  color: #912a10;
}
.form-conroller._success {
  transition: 0.6s all;
}
.form-conroller._success .form-conroller__inp {
  border-color: #0e833b;
}
.form-conroller._success .form-conroller__icon-success {
  visibility: visible;
  opacity: 1;
}
.form-conroller._error .form-conroller__inp {
  border-color: #912a10;
}
.form-conroller._error .form-conroller__message {
  visibility: visible;
}
.form-conroller._error .form-conroller__icon-error {
  visibility: visible;
  opacity: 1;
}
.form-conroller._error .radio__label::before, .form-conroller._error .checkbox__label::before {
  border-color: #912a10;
}

.trigger {
  position: absolute;
  top: 35px;
  right: 12px;
  min-width: 32px;
  padding: 2px;
  z-index: 5;
  display: block;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  background-color: #655faf;
  border: 2px solid #655faf;
  border-radius: 8px;
  color: #f9f9f9;
  transition: 0.6s all;
}
.trigger-show, .trigger-hide {
  color: #f9f9f9;
}
.trigger._show .trigger-show {
  visibility: hidden;
  display: none;
}
.trigger._show .trigger-hide {
  visibility: visible;
  display: inline;
}
.trigger._hide .trigger-show {
  visibility: visible;
  display: inline;
}
.trigger._hide .trigger-hide {
  visibility: hidden;
  display: none;
}

.captcha {
  margin-bottom: 0;
}
.captcha__area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}
.captcha__area-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 8px;
  background-image: linear-gradient(to right, #655faf, #111, #912a10, #0e833b);
}
.captcha__area-text {
  font-size: 30px;
  font-family: "Zen Antique", serif;
  font-style: italic;
  letter-spacing: 0.5em;
  color: #f9f9f9;
  text-shadow: 0 0 2px #111;
}
.captcha__reload-btn {
  margin: 0 0 0 8px;
  padding: 6px;
  width: 64px;
  height: 100%;
  font-size: 24px;
}
.captcha__reload-btn i {
  transition: 0.6s all;
}
.captcha__reload-btn:hover {
  color: #f9f9f9;
  background-color: #655faf;
}
.captcha__reload-btn:hover i {
  transform: rotate(45deg);
}
.captcha__form {
  position: relative;
  margin-top: 14px;
}
.captcha__form-inp._success {
  border-color: #0e833b;
}
.captcha__form-inp._error {
  border-color: #912a10;
}
.captcha__status {
  overflow: hidden;
  opacity: 0;
  display: block;
}
.captcha__status._success {
  overflow: visible;
  opacity: 1;
  color: #0e833b;
}
.captcha__status._error {
  overflow: visible;
  opacity: 1;
  color: #912a10;
}

.checkbox {
  position: relative;
}
.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox__input:checked + .checkbox__label::before {
  border-color: #655faf;
}
.checkbox__input:checked + .checkbox__label::after {
  opacity: 1;
}
.checkbox__label {
  padding-left: 1.8rem;
  line-height: 1.2;
  vertical-align: top;
  font-size: 1rem;
  cursor: pointer;
}
.checkbox__label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #111;
  border-radius: 4px;
  background-color: #f9f9f9;
}
.checkbox__label::after {
  content: "✓";
  opacity: 0;
  position: absolute;
  left: 3px;
  top: 0px;
  z-index: 2;
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  transition: 0.6s all;
}

.radio {
  position: relative;
}

.radio__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  width: 16px;
  height: 16px;
}

.radio__label {
  padding-left: 1.8rem;
  font-size: 1rem;
  line-height: 1.2;
  vertical-align: top;
  cursor: pointer;
}

.radio__label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #111;
  border-radius: 50%;
}

.radio__label:after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 3.2px;
  left: 3.2px;
  z-index: 2;
  display: block;
  width: 12px;
  height: 12px;
  background-color: #655faf;
  border-radius: 50%;
}

.radio__input:checked + .radio__label:before {
  border-color: #655faf;
}

.radio__input:checked + .radio__label:after {
  opacity: 1;
}